h1 {
    color: white;
}

h2 {
    color: aqua;
}

h3 {
    color: yellow;
}

h4 {
    color: pink;
}

h5 {
    color: orangered;
}

h6 {
    color: lightgreen;
}

p {
    color: gold;
    font-family: 'Bungee', cursive;
}